<!-- app/views/todos/index.html.erb -->
<h1>Todo List</h1>

<%= form_with url: todos_path, method: :post, local: true do |f| %>
  <%= f.text_field :title, placeholder: "Add a new task" %>
  <%= f.submit "Add" %>
<% end %>

<ul>
  <% @todos.each do |id, todo| %>
    <li>
      <%= form_with url: todo_path(id), method: :patch, local: true do |f| %>
        <%= f.check_box :completed, checked: todo["completed"] %>
        <%= f.text_field :title, value: todo["title"] %>
        <%= f.submit "Update" %>
      <% end %>
      <%= link_to "Delete", todo_path(id), method: :delete %>
    </li>
  <% end %>
</ul>
