<!DOCTYPE html>
<html>
  <head>
    <title>YourAppName</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'style', media: 'all', 'data-turbo-track': 'reload' %>

    <!-- Include Firebase SDK using compat version first -->
    <script src="https://www.gstatic.com/firebasejs/9.8.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.8.0/firebase-database-compat.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

    
  </head>

  <body>
    <%= yield %>
  </body>
</html>